* {
    font-family: $body_font;
}

.navbar-nav {
    li:hover {   
        background-color: $background_uno;
        a:hover {
            color: $color_text_titulo;
        }
    }
}

.seccion_uno {
  background-color: $background_uno;
  padding-top: $padding;
  h1,h2 {
    color: $color_text_titulo;
    text-align: $text_center;
  }
}

.section_dos {
  background-color: $background_dos;
  padding: $padding_footer;
  @included excel();
}

.seccion_tres {
  background-color: $background_dos;
  padding: $padding_footer;
  .desktop {
    width: $width-desktop;
    padding: $padding;
  }
  h1, h2, h4 {
    text-align: $text_center;
  }
  p {
    @include excel();
  }
}

@media (max-width: 6000px) {
  .secion_uno {
    background-color: $background_uno;
    padding-top: $padding_media;
  }
}