$body_font: 'Raleway', sans-serif;
$background_uno:#33485c;
$background_dos: #f7f7f7;
$color_text_titulo: #fff;
$color_text_laboratoria: #EA8F0E;
$color_text_p: #989998;
$text_center:center;
$padding: 6%;
$padding_media: 11%;
$padding_footer: 12%;
$width_desktop: 100%;

